<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ida:Tenant" value="b2cconsumer.onmicrosoft.com"/>
    <add key="ida:ClientId" value="dc852c37-8bad-4f6d-992c-efe3d7b15655"/>
  </appSettings>
    
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>
